*$py.class
*.egg
*.egg-info/
*.py[cod]
*.so
.Python
.eggs/
.idea/
.installed.cfg
.pytest_cache/
.scrapy
.vscode/
MANIFEST
__pycache__/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
sdist/
share/python-wheels/
var/
venv-win/
venv/
wheels/

#Added by cargo

/target
