*$py.class
*.egg
*.egg-info/
*.py[cod]
*.so
.Python
.eggs/
.idea/
.installed.cfg
.pytest_cache/
.scrapy
MANIFEST
Session.vim
__pycache__/
build/
core/backend/scraper/classes.db.bak
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
sdist/
share/python-wheels/
var/
venv/
wheels/
